@media screen and (max-width: 990px) {
    header{
        display: none;
    }
    #hero .container > * {
        width: 100%;
    }
    #hero h2{
        font-size: 44px;
    }

    #players {
        padding: 50px 15px;
    }
    #players .container{
        grid-template-columns: 1fr;
        grid-row-gap:50px ;
    }
    .player{
        padding:30px;
    }
    #copa .container {
        grid-template-columns: 1fr;
        grid-row-gap:25px ;
    }
    #euro .container {
        grid-template-columns: 1fr;
        grid-row-gap:25px ;
    }
    .posts{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap:25px ;
    }
    article:nth-child(3){
        display: none;
    }
    footer p{
        text-align: center;
    }
    footer #top{
        display: none;
    }
}