@media screen and (max-width:992px) {

    /* Global starts */
        .section-title{
            font-size: 34px;
        }
    /* Global ends */
    
    /* Hero Starts Here */
        #hero h2{
            font-size: 54px;
        }
    /* Hero Ends Here */
    
    /* Player Starts Here */
        #players .container{
            grid-template-columns: repeat(2, 1fr ); 
        }
    /* Player Ends Here */
    
    /* Blog starts */
    
        article:nth-child(3){
            display: none;
        }
        .posts{
            grid-template-columns: repeat(2,1fr );
        }
    
    /* Blog ends */
}

/*Mobile Version*/

@media screen and (max-width:622px) {
    /* Global */


    /* Header  */
    nav{
        display: none;
    }
    #mobile-menu{
        font-size:22px;
        color:white;
        background:var(--btn-color);
        padding:3px 10px;
        display: block;
    }

    /* Hero */
    #hero .container > *{
        width: 100%;
    }
    #hero h2{
        font-size: 44px;
    }
    #hero-content{
        order:1;
    }
    #hero-image{
        order: 0;
    }

    /* Players */
    #players{
        padding:70px 0 35px;
    }
    #players .container{
        grid-template-columns: 1fr;
    }

    /*Copa section*/
    #copa{
        padding:35px 0;
    }
    #copa .container{
        grid-template-columns: 1fr;
    }
    #copa img{
        margin-top:30px;
    }

    /* Euro Section */
    #euro{
        padding:35px 0;
    }
    #euro .container{
        grid-template-columns: 1fr;
    }
    #euro-image{
        order:1;
        margin-top:30px;
    }
    #euro-content{
        order:0;
    }

    /* Blog */
    #blog{
        padding:35px 0;
    }
    .posts{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }

    /* Footer */
    footer{
        padding:35px 10px 30px;
    }
    footer img{
        width: 100%;
    }
    #to-top{
        display: none;
    }

}