/* Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Variable */
:root{
    --blue:#2D25A0;
    --btn-color:#E02C6D;
    --poppins: 'Poppins' , sans-serif;
    --p-title:28px;
    --body:16px;
    --hover-btn:#3DBAFD;
}

/*Global*/
html {
    scroll-behavior: smooth;
}
*,*::before,*::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: var(--poppins);
}
.container{
    max-width: 1160px;
    margin:auto;
    padding:0 15px;
}
.section-title{
    color:#0A0826;
    font-size: 48px;
    line-height: 1.3em;
    font-weight: 700;
    margin-bottom: 15px;
}
h3{
    font-size: var(--p-title);
    font-weight: 700;
    line-height: 1.3em;
}
p{
    font-size: var(--body);
    line-height: 1.7em;
    font-weight: 400;
}
a{
    text-decoration: none;
    color:white;
    font-weight: 500;
    font-size: 16;
}
.button{
    display: inline-block;
    background:var(--btn-color);
    padding:10px 24px;
    margin-top:20px;
    transition:background 0.3s ease;
}
.button i{
    color:whtie;
    font-size: 16px;
    margin-left: 3px;
}
.button:hover{
    background:var(--hover-btn);
}

/* Header Starts Here */

header{
    background-color: var(--blue);
    padding:25px 0 15px; 
}
#mobile-menu{
    display: none;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    padding:9px 15px;
    transition: background-color 0.3s ease;
}
nav ul li:not(:last-child){
    margin-right: 6px;
}
nav ul li:hover{
    background-color: var(--hover-btn);
}
.login-container .button{
    margin:0;
}
.login-container{
    display: flex;
    justify-content: flex-end;
}

/* Header Ends Here */

/* Hero Starts Here */

#hero{
    padding:35px 0px 85px;
    background:var(--blue);
    color:#fff;
}
#hero .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#hero .container > * {
    width: 50%;
}
#hero h2{
    font-size: 64px;
    font-weight: 700;
    line-height: 1.3em;
}
#hero img{
    width: 95%;
}

/* Hero Ends Here */

/* Player Starts Here */

#players{
    background:#fff;
    padding:70px 0;
}
#players .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-row-gap:30px;
    grid-column-gap: 30px;
}
.player{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding:15px 15px 33px;
    transition:box-shadow 0.3s ease;
}
.player:hover{
    border-radius: 5px;
    box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.25);
    cursor:pointer;
}
.player h3{
    color:#18191F;
    margin:10px 0 10px;
}
.player p {
    color: #6C6C6C;
}
.player img{
    width: 100%;
}
/* Player Ends Here */

/* Copa Highlights Section Start */

#copa{
    background:#fff;
    padding:70px 0;
}
#copa .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    grid-column-gap: 70px;
    align-items: center;
}
#copa p{
    color:#6C6C6C;
}
#copa img{
    width: 100%;
}

/* Copa Highlights Section End */

/* Euro Highlights Section Start */

#euro{
    background:#fff;
    padding:70px 0;
}
#euro .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    grid-column-gap: 70px;
    align-items: center;
}

#euro p{
    color:#6C6C6C;
}
#euro img{
    width: 100%;
}

/* Euro Highlights Section End */

/* Blog Section Start */

#blog{
    padding:70px 0;
}
#blog h2{
    text-align: center;
    margin-bottom:45px;
}
.posts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
article{
    padding:15px ;
    border:1px solid rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}
article:hover{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    cursor:pointer;
    border:1px solid white; 
}
article img{
    width: 100%;
}
article h3{
    font-size: 22px;
    font-weight: 600;
    margin:15px 0;
}
/* Blog Section End */

/* Footer Section Starts  */
footer{
    padding:70px 10px 50px;
}
footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer img{
    width: 480px;
}
footer .icons{
    margin:20px 0;
}
footer i{
    background: #E7E7E8;
    color:#969BAB;
    padding:7px;
    border-radius: 50px;
    margin: 0 8px;
    transition: background 0.3s ease;
}
footer i:hover{
    background:var(--hover-btn);
    color: white;
    cursor: pointer;
}
footer p{
    font-size: 18px;
    color:#000;
}
footer a{
    position: fixed;
    bottom:20px;
    right:20px;
}
footer a i{
    background: var(--blue);
    color:white;
    padding:10px;
}
/* Footer Section Ends  */




